<!-- Case Studies Section -->
    <section id="casestudies">
        <div class="anchor" id="casestudies-anchor"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center editable">
                    <h2>Case Studies</h2>
                    <h3>Below are a selection of impressive case studies where VisualFactory has been instrumental to a companies success.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="quotecontainer" style="padding-top: 3em; float: left; padding-bottom: 0;">
                        <div class="feature editable" style="text-align: left;">
                            <img style="max-width: 200px; margin-top: 4.8em;" src="img/logo.jpg">
                            <h4>Racal User Case Study</h4>
                            Racal Acoustics is a manufacturer of specialist acoustic ancillary equipment, mainly for the military and emergency services markets. This case study goes into detail about how VisualFactory has aided the growth of the business. <br><br> <a style="color: #448abc; text-decoration: none; display: block; text-align: center;" href="pdfs/racalcasestudy.pdf" target="_blank">View Case Study</a>
                        </div>
                        <div class="feature editable" style="text-align: left;">
                            <img style="max-width: 200px; margin-top: 4.8em;" src="img/logo.jpg">
                            <h4>Racal Business Case Study</h4>
                            This particular case study aims to explore in more detail how VisualFactory has allowed Manufacturing Engineers at a Racal Acoustics Facility to increase their productivity by up to 15% and reduce line switches to below 20 minutes. <br><br> <a style="color: #448abc; text-decoration: none; display: block; text-align: center;" href="pdfs/racalusercasestudy.pdf" target="_blank">View Case Study</a>
                        </div>
                        <div class="feature editable" style="text-align: left;">
                            <img style="max-width: 100px;" src="img/terex.jpg">
                            <h4>Terex Business Case Study</h4>
                            Terex is a world leader in the manufacture of heavy duty equipment for use across a multitude of industries. This case study explores how the continious intergration of VisualFactory modules is helping the company strengthen its global market share. <br><br> <a style="color: #448abc; text-decoration: none; display: block; text-align: center;" href="pdfs/terexcasestudy.pdf" target="_blank">View Case Study</a>
                        </div>
                    </div>
                    <div class="quotecontainer" style="padding-top: 0em; float: left; padding-bottom: 0;">
                        <div class="feature editable" style="text-align: left;">
                            <img style="max-width: 150px; margin-top: 2.8em;" src="img/kelvinhughes.png">
                            <h4>Kelvin Hughes Case Study</h4>
                            In this case study Paul Cole, the lead manufacturing engineer at Kelvin Hughes goes into detail about how the introduction of VisualFactory has cut costs by more than 50%.<br><br> <a style="color: #448abc; text-decoration: none; display: block; text-align: center;" href="pdfs/kelvinhughescasestudy.pdf" target="_blank">View Case Study</a>
                        </div>
                        <div class="feature editable" style="float: left; text-align: left;">
                            <img style="max-width: 200px; margin-top: 2.8em;" src="img/saab.png">
                            <h4>SAAB SeaEye Case Study</h4>
                            This particular case study describes how VisualFactory has allowed SAAB SeaEye to achieve ROI within 2 years of purchasing the software and how rework costs have been reduced by a huge 75%. <br><br> <a style="color: #448abc; text-decoration: none; display: block; text-align: center;" href="pdfs/saabcasestudy.pdf" target="_blank">View Case Study</a>
                        </div>
                        <div class="feature editable" style="float: left; text-align: left;">
                            <img style="max-width: 200px; margin-top: 3.4em;" src="img/hyperthermlogo.png">
                            <h4>Hypertherm Case Study</h4>
                            This case study explains how VisualFactory's vKanban module has increased Hypertherm's output capacity by up to 44%. <br><br> <a style="color: #448abc; text-decoration: none; display: block; text-align: center;" href="pdfs/hyperthermcasestudy.pdf" target="_blank">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>