<!-- Services Section -->
<section id="ctas">
    <div class="anchor" id="ctas-anchor"></div>
    <div class="container">
        <div class="row ctas">
            <div class="col-md-4">
                <h4>an extensive lean software application</h4>
                <p>VisualFactory is a web browser based software application (running inside your corporate firewall) that is proven to dramatically reduce costs, improve the productivity and efficiency of your workforce, and deliver Right First Time quality.</p>
            </div>
            <div class="col-md-4">
                <h4>stable &amp; standardized processes</h4>
                <p>VisualFactory provides real time, dynamic Electronic Work Instructions (EWI) so that products are built right first time every time, even in low volume high variety and configure to order environments.</p>
            </div>
            <div class="col-md-4">
                <h4>more than just visual work instructions</h4>
                <p>VisualFactory has been engineered to record and track extremely valuable, required manufacturing data. This ranges from recording what tools are used, to how long a particular activity took to <a name="howitworks"></a>complete.</p>
            </div>
        </div>
    </div>
</section>