<!-- Case Studies Section -->
    <section id="customers">
        <div class="anchor" id="customers-anchor"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center editable">
                    <h2>What our customers think</h2>
                    <h3>Don't just take our word for it, read what some of our customer have to say about their experiences with VisualFactory below.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="testimonialscontainer editable">
                        <div class="testimonial">
                            <blockquote>VisualFactory has been a major success. The team at NoMuda, working with our own staff ensured that the project ran precisely to the agreed plan &amp; that we began to feel the benefits exactly as promised.</blockquote>
                        </div>
                        <div class="testimonial">
                            <blockquote>VisualFactory has a dramatic effect on labour flexibility, enabling the moving of staff between workstations &amp; allowing them to be effective in a new area immediately.</blockquote>
                        </div>
                        <div class="testimonial">
                            <blockquote>VisualFactory greatly reduces excessive time &amp; costs in the process of creating, updating, controlling &amp; delivering work instructions as well as other documentation to the shop floor.</blockquote>
                        </div>
                    </div>
                    <div class="authorcontainer">
                        <a name="casestudies"></a>
                        <div class="quoteauthor"><img src="img/bombardier.png" alt="Bombardier Transportation">Bombardier Transportation</div>
                        <div class="quoteauthor"><img src="img/volvo.png" alt="Volvo Construction Equipment">Volvo Construction Equipment</div>
                        <div class="quoteauthor"><img src="img/esterline.png" alt="Esterline Racal Acoustics"><a name="about"></a>Esterline Racal Acoustics</div>
                    </div>
                </div>
            </div>
        </div>
    </section>