<!-- Case Studies Section -->
    <section id="features">
        <div class="anchor" id="features-anchor"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="row">
                        <div class="col-lg-12 text-center editable">
                            <h2>A feature packed application ready & waiting</h2>
                            <h3>VisualFactory has a multitude of features, below we show just a few of the most sought after.</h3>
                        </div>
                    </div>
                    <div class="row spacer">
                        <div class="feature editable">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="icon-sphere fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>web based</h4>
                            VisualFactory is a web application that runs on an internal, intranet network. This removes the need to install &amp; maintain hundreds of copies of the software.
                        </div>
                        <div class="feature editable">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="icon-lan2 fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>bom integration</h4>
                            VisualFactory is designed to integrate with many existing ERP &amp; MRP systems. These include SAP, Oracle, WinMan, Mapics as well as others.
                        </div>
                        <div class="feature editable">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>visual work instructions</h4>
                            VisualFactory allows for the creation of Visual Work Instructions. These are designed to be more intuitive and usable than traditional text based instructions.
                        </div>
                    </div>
                    <div class="row spacer">
                        <div class="feature editable">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-database  fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>database driven</h4>
                            VisualFactory is a database driven application which facilitates content reuse and powerful authoring capabilities. This allows for single point editing of visual work instructions.
                        </div>
                        <div class="feature editable">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="icon-grid5 fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>modular design</h4>
                            VisualFactory is built using a modular design approach. This gives customers the ability to easily add modules &amp; functionality only when they require them.
                        </div>
                        <div class="feature editable">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="icon-play fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>record production data</h4>
                            VisualFactory has the ability to record extremely valuable data regarding a production process. This includes; the tools and parts used as well as completion times for specific tasks.
                        </div>
                    </div>
                    <div class="row">
                        <div class="feature editable">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="icon-stack fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>version control</h4>
                            VisualFactory has the ability to easily control multiple versions of Visual Work Instructions, ensuring the most up to date versions are used.
                        </div>
                        <div class="feature editable">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="icon-question3 fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>extensive help &amp; support</h4>
                            VisualFactory offers 24 hour phone &amp; online support as well as on site support where necessary.
                        </div>
                        <div class="feature editable">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>mobile compatibility</h4>
                            VisualFactory is compatible with mobile &amp; tablet devices, making portable Visual Work Instruction solutions viable reality.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>