<!-- Services Section -->
    <section id="how" class="bg-light-gray">
        <div class="anchor" id="how-anchor"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center editable">
                    <h2>We believe in a simple three step process, combined with a Kaizen mentality</h2>
                    <h3>VisualFactory helps you optimize your manufacturing processes inline with lean manufacturing methodologies and get Right First Time quality.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 editable">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check-circle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Simplify</h4>
                    <p class="text-muted">VisualFactory's built in intelligence and innovative configurator make producing high variety, complex assemblies extremely simple and cost effective.</p>
                </div>
                <div class="col-md-4 editable">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Standardize</h4>
                    <p class="text-muted">VisualFactory is a single point of contact for all manufacturing knowledge & intelligence, eliminating the need for multiple document based systems.</p>
                </div>
                <div class="col-md-4 editable">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Automate</h4>
                    <p class="text-muted">VisualFactory automates and coordinates the manufacturing intelligence needed to optimize operations. This provides the information you need to know, when you need to know it.</p>
                </div>
            </div>
        </div>
    </section>