<!-- Portfolio Grid Section -->
    <section id="integration">
        <div class="anchor" id="integration-anchor"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center editable">
                    <h2>VisualFactory seamlessly integrates with your existing business applications</h2>
                </div>
            </div>
            <div class="row">
                <div class="diagramlist editable">
                    <ul>
                        <li>VisualFactory enables best practice Lean Manufacturing with standardized visual work instructions.</li>
                        <li>VisualFactory sits in levels 2 &amp; 3 in the manufacturing systems model, coordianting mission critical tasks.</li>
                        <li>VisualFactory eliminates fragmented/disconnected software systems with a range of integrated modules.</li>
                        <li>These modules provide Manufacturing Execution System (MES) &amp; Manufacturing Operations Management (MOM) functionality.</li>
                        <li>VisualFactory becomes a single source for Manufacturing Knowledge &amp; Manufacturing Intelligence.</li>
                        <li>Implements core manufacturing philosophies; Lean Operations, Just In Time Production, Kaizen, Visual Kanban and more.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center editable">
                    <h3>We provide a comprehensive platform for supporting lean manufacturing, integrating with other business systems to provide a co-ordinated system in line with an ISA-95 approach.</h3>
                </div>
            </div>
            <div class="row">
                <article class="widget-messages widget-html-widget widget">
                    <div class="diagramcontain">
                        <div class="application businessapp">
                            <i class="fa fa-database" aria-hidden="true"></i>
                            Business Applications
                        </div>
                        <div class="level3 businessapp">
                            <div class="leveltitle">enterprise / business operation systems</div>
                            <div class="businessboxcontain">
                                <div class="businessbox">erp, apo, aps, crm</div>
                                <div class="businessbox">plm, plant / process design</div>
                            </div>
                            <div class="businessboxcontain">
                                <div class="businessbox">eh&amp;s, cmms, bpm</div>
                                <div class="businessbox">bi, dw, scm, eqms</div>
                            </div>
                            <div class="leveltitle">level 4</div>
                        </div>
                    </div>
                    <div class="diagramcontain">
                        <div class="application">VisualFactory</div>
                        <div class="level2">
                            <div class="leveltitle">visualfactory integrated suite of modules</div>
                            <div class="businessboxcontain">
                                <div class="modulebox">vRECORD</div>
                                <div class="modulebox">vINSTRUCT</div>
                                <div class="modulebox">vANDON</div>
                            </div>
                            <div class="businessboxcontain">
                                <div class="modulebox">vBOM</div>
                                <div class="modulebox">vKANBAN</div>
                                <div class="modulebox">vSKILLS</div>
                            </div>
                            <div class="leveltitle">levels 2 &amp; 3</div>
                        </div>
                    </div>
                    <div class="diagramcontain">
                        <div class="application automateapp">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            Automation Applications
                        </div>
                        <div class="level1 automateapp">
                            <div class="leveltitle">industrial automation systems</div>
                            <div class="businessboxcontain">
                                <div class="businessbox">plc / pac</div>
                                <div class="businessbox">safety</div>
                            </div>
                            <div class="businessboxcontain">
                                <div class="businessbox">motion</div>
                                <div class="businessbox">dcs</div>
                            </div>
                            <div class="leveltitle">levels 0 &amp; 1</div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
