<!-- Case Studies Section -->
    <section id="mobile" class="bg-light-gray">
        <div class="anchor" id="mobile-anchor"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center editable">
                    <h2>A modern, mobile orientated application</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="moderncontain">
                        <div class="modernbulletdevices"><img src="img/devicesvscreen.png"></div>
                        <div class="modernbulletcontain editable">
                            <h4>a cutting edge application for lean manufacturers</h4>
                            VisualFactory is completely web based &amp; deployed within your own secure intranet. This provides access to all authorized users from PC, Mac, iPad or Android tablets with no software to install. This ensures you have complete control over your data while also retaining the maximum portability of a web based, mobile orientated application.
                        </div>
                    </div>
                    <div class="modernbulletcontain editable editable">
                        <h4>a device agnostic, cross browser compatible platform</h4>
                        VisualFactory is designed with past, present &amp; future technology in mind. Not only will VisualFactory run on all modern systems &amp; web browsers but we also strive to support legacy systems &amp; software. We acknowledge &amp; understand our current and potential customers may require the use of older Windows Operating Systems. To aid these customers we fully support Internet Explorer down to version 8.
                    </div>
                    <div class="modernbulletablet">
                        <img src="img/tabletpreview.png">
                        <a name="features"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>