 <!-- Portfolio Modals -->
    <div class="portfolio-modal-vf" id="portfolioModal-new" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ page.title }}</h2>
                            <hr class="star-primary">
                            <img src="../../../../../img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                            <p class="desc-1">{{ page.description-1 }}</p>
                            <p class="desc-2">{{ page.description-2 }}</p>
                            <p class="desc-3">{{ page.description-3 }}</p>
                            <p class="desc-4">{{ page.description-4 }}</p>
                            <p>{{ page.content }}</p>
                            <ul class="list-inline item-details editable">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ page.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ page.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ page.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
