<!-- Case Studies Section -->
    <section id="roi" class="bg-light-gray">
        <div class="anchor" id="roi-anchor"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center editable">
                    <h2>Achieve your ROI as quickly as possible</h2>
                    <h3>The team behind VisualFactory are committed to helping customers obtain their ROI as quickly as possible. If you require an urgent solution VisualFactory can be implemented in 6 weeks or less through the use of our rapid deployment process.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="roi-img">
                        <img src="img/roi.png" alt="Return On Investment"> <a name="testimonials"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>