<!-- Services Section -->
    <section id="services">
        <div class="anchor" id="services-anchor"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="editable">Our mission is to provide visual tools for effective management of lean operations</h2>
                    <h3 class="editable">Does your company struggle to maintain paper based work instructions? Maybe you're heavily reliant on tribal knowledge or just looking to implement a lean philosophy? Whatever your problem we are confident that VisualFactory will be the solution.</h3>
                    <div>
                        <div class="bulletscontainer">
                            <div class="bullets editable">
                                <h4>an extensive lean software application</h4>
                                <p>VisualFactory is a web browser based software application (running inside your corporate firewall) that is proven to dramatically reduce costs, improve the productivity and efficiency of your workforce, and deliver Right First Time quality.</p>
                            </div>
                            <div class="bullets editable">
                                <h4>stable &amp; standardized processes</h4>
                                <p>VisualFactory provides real time, dynamic Electronic Work Instructions (EWI) so that products are built right first time every time, even in low volume high variety and configure to order environments.</p>
                            </div>
                            <div class="bullets editable">
                                <h4>more than just visual work instructions</h4>
                                <p>VisualFactory has been engineered to record and track extremely valuable, required manufacturing data. This ranges from recording what tools are used, to how long a particular activity took to <a name="howitworks"></a>complete.</p>
                            </div>
                        </div>
                        <div class="videocontainer">
                            <div class="innervideo">
                                <iframe src="http://www.youtube.com/embed/jiJSvNu87EE" class="video" allowfullscreen frameborder="0"></iframe>
                            </div>
                            <div class="vidcaption editable">Footage of VisualFactory in use at Esterline Racal Acoustics.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>